.idea/.name
.idea/Flappy Python.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/Bird.cpython-34.pyc
__pycache__/ImageLoader.cpython-34.pyc
__pycache__/Block.cpython-34.pyc
