.idea/.name
.idea/Flappy Python.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/Bird.cpython-34.pyc
__pycache__/ImageLoader.cpython-34.pyc
__pycache__/Block.cpython-34.pyc
__pycache__/Color.cpython-34.pyc
__pycache__/Animation.cpython-34.pyc
__pycache__/Background.cpython-34.pyc
__pycache__/ParallaxScrolling.cpython-34.pyc
__pycache__/pyganim.cpython-34.pyc
__pycache__/GameSettings.cpython-34.pyc
__pycache__/Main.cpython-34.pyc
__pycache__/Spike.cpython-34.pyc
__pycache__/MessageOnScreen.cpython-34.pyc
